@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans';
  background-color: #f5f5f5;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}

.title {
  line-height: 1.15;
  font-weight: normal;
  background: -webkit-linear-gradient(0deg, #37a0c6, #8c1bc0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}